# Probabilidades intermedias de validación cruzada
results/comparacion_ensamble_*/*.npz

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de macOS
.DS_Store

results/comparacion_identidad_*/*.npz

results/mezcla_especialista_*/*.npz

results/promedio_est_lr_*/*.npz

results/svm_estructural_*/*.npz

results/especialista_balanceado_*/*.npz